{% extends "index.html" %}
{% block title %}Study Buddy - Forgot-Password{% endblock title %}
{% block content %}
    <div class="auth-container">
        <div class="auth-card">
            <form method="POST" action="/forgot-password">
                {% csrf_token %}
                <h2>Forgot Password</h2>
                <input type="email" name="email" placeholder="Email" required autofocus>
                <input type="password" name="oldPassword" placeholder="Current Password" required autofocus>
                <input type="password" name="newPassword" placeholder="Create New Password" required autofocus>
                <input type="text" name="confirmNewPassword" placeholder="Confirm New Password" required autofocus>
                <button type="submit">Continue</button>
                <span>{{ var }}</span>
                <a href="/forgot-password-byEmail">Try Another Way?</a>
            </form>
        </div>
    </div>
{% endblock content %}