{% extends "index.html" %}
{% block title %}Study Buddy - Reset-Password{% endblock title %}
{% block content %}
{% if token %}
    <div class="auth-container">
        <div class="auth-card">
            <form method="POST" action="/reset-password">
                {% csrf_token %}
                <h2>Reset Password</h2>
                <input type="hidden" name="userId" value="{{ userId }}" style="display: none;" readonly>
                <input type="hidden" name="token" value="{{ token }}" style="display: none;" readonly>
                <input type="password" name="newPassword" placeholder="Create New Password" required autofocus>
                <input type="text" name="confirmNewPassword" placeholder="Confirm New Password" required autofocus>
                <button type="submit">Reset Password</button>
                <span>{{ var }}</span>
            </form>
        </div>
    </div>
{% else %}
<script type="text/javascript">
    window.location.href = "/login"
</script>
{% endif %}
{% endblock content %}