{% extends "index.html" %}
{% block title %}Forgot-Password{% endblock title %}
{% block content %}
<form method="POST" action="/forgot-password">
    <div class="auth-section">
        <p>Forgot Password</p>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="oldPassword" placeholder="Current Password" required>
        <input type="password" name="newPassword" placeholder="Create New Password" required>
        <input type="text" name="confirmNewPassword" placeholder="Confirm New Password" required>
        <button type="submit">Continue</button>
        <span>{{ var }}</span>
        <a href="/forgot-password-byEmail">Try Another Way?</a>
    </div>
</form>
{% endblock content %}