{% extends "index.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<form method="POST" action="/login">
    <div class="auth-section">
        <p>Login</p>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">login</button>
        <span>{{ var }}</span>
        <a href="/forgot-email">Forgot Email?</a>
        <a href="/forgot-password">Forgot Password?</a>
        <div class="bottom-section">
            <a href="/sign-up">Create Account</a>
        </div>
    </div>
</form>
{% endblock content %}