{% extends "index.html" %}
{% block title %}Reset-Password{% endblock title %}
{% block content %}
{% if token %}
<form method="POST" action="/reset-password">
    <div class="auth-section">
        <p>Reset Password</p>
        <input type="hidden" name="userId" value="{{ userId }}" style="display: none;" readonly>
        <input type="hidden" name="token" value="{{ token }}" style="display: none;" readonly>
        <input type="password" name="newPassword" placeholder="Create New Password" required>
        <input type="text" name="confirmNewPassword" placeholder="Confirm New Password" required>
        <button type="submit">Reset Password</button>
        <span>{{ var }}</span>
    </div>
</form>
{% else %}
<script type="text/javascript">
    window.location.href = "/login"
</script>
{% endif %}
{% endblock content %}